.bestRecordsTitle {
  margin-bottom: 28px!important;
}

.lobbyContainer {
  padding-top: 40px;
}

.ctaContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px)  {
  .ctaContainer {
    margin-bottom: 130px;
  }
}