.bestRecordsTitle {
  text-align: center;
}

.bestRecordsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ctaContainer {
  display: flex;
  justify-content: center;
}