.wrapper {
  display: flex;

  .container {
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 500ms ease-in-out;

    &:hover {
      background-color: rgb(245, 252, 255)      ;
    }

    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .record {
      p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  
    .difficulty {
      margin-top: 12px;
      margin-bottom: 20px;
    }
  }
}