.wrapper {
  background-color: #2c456e;
  color: white;
  
  .container {
    display: flex;
    justify-content: space-between;
    
    .title {
      font-weight: bold;
      cursor: pointer;
    }
    .leaderboard {
      cursor: pointer;
    }
  }
}