.message {
  margin-top: 40px;
}

.newBestMessage {
  margin-top: 20px;
}

.ctaContainer {
  margin-top: 28px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;

  button {
    border-radius: 50px;
  }
}